* {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-flow: column;
}

.header {
  width: 100%;
  padding: 1%;
}

.workspace {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  flex-grow: 1;
}

.border {
  box-sizing: border-box;
  border: 1px solid #333333;
}

.settings {
  grid-column: 1 / 1;
  grid-row: 1;

  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label[for=file-selector] {
  display: block;
  user-select: none;
  padding: 3%;
  background-color: #55ff00;
  border-radius: 0.7em;
  text-align: center;
  color: #ffffff;
}

.input-error {
	display: none;
	color: red;
}

.settings input[name=file-selector]{
  display: none;
}

.settings input[type=number] {
  height: 2vh;
}

.settings .list {
  overflow: scroll;

  height: 50vh;
  max-height: 50vh;
}

.settings .list li {
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.chosen {
	background-color: gray;
}

.settings .list li:hover {
  cursor: pointer;
  background-color: darkgray;
}

.graph {
  grid-column: 2 / span 4;
  grid-row: 1;

  padding: 1%;
}

.graph canvas {
  width: 100%;
  height: 100%;
}

.data {
  grid-column: 6 / 6;
  grid-row: 1;

  padding: 1%;
}

.table tr, td {
  border: 1px solid black;
}

